/* CSS for Large Screens */
@media screen and (min-width:769px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-gap: 15px;
	}
	
	.b_itemButton {
		background-color: white;
		text-decoration: none;
	}
	.b_itemButton:hover {
		box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
	}
	.b_itemButton img {
		padding: 5px;
	}
	.b_itemButton p {
		width: 100%;
		text-align: center;
		color: #478978;
	}
}

/* CSS for Small Screens */
@media screen and (max-width:768px) {
	main {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
		grid-gap: 10px;
		justify-content: center;
	}

	.b_itemButton {
		background-color: white;
		text-decoration: none;
	}
	
	.b_itemButton img {
		padding: 5px;
	}
	.b_itemButton p {
		width: 100%;
		text-align: center;
		color: #478978;
	}
}