html, body {
	margin: 0px;
	background-color: #ecf3f1;
	height: 100%;
	width: 100%;
	font-family: "Amaranth", sans-serif;
	font-weight: 400;
	font-style: normal;
}


/* CSS grid layout large screens */
@media screen and (min-width:769px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto auto auto auto 1fr auto;
		align-items: start;
	}
	
	#a_mobNav {
		display: none;
	}
	main, footer {
		padding: 10px;
	}
	
	header {
		grid-column: 1 / span 3;
		grid-row: 1;
		height: 50px;
		display: grid;
		grid-template-columns: 6fr 4fr 6fr;
		grid-template-rows: 50px;
	}
	#a_title {
		grid-column: 2;
		padding: 5px;
		font-size: 30px;
		text-align: center;
		color: #478978;
		text-decoration: none;
	}
	#a_title:hover{
		cursor: pointer;
	}

	nav {
		grid-column: 1 / span 3;
		grid-row: 2;
		top: 0;
		position: sticky;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto;
		background-color: #478978;
	}
	#navSiteMap {
		height: 10px;
	}
	#navContent {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
		grid-template-rows: 50px auto;
	}
	.b_nav {
		grid-row: 1;
		padding: 5px;
		margin: 0px;
		font-size: 20px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		background-color: #acecdc;
		border: 1px solid #478978;
	}
	#b_lang {
		font-size: 24px;
		display: flex;
		justify-content: center;
	}
	.b_nav:hover {
		cursor: pointer;
		box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,0.2);
	}
	#navSpacer {
		grid-row: 1;
		grid-column: 1;
		background-color: #478978;
	}
	.nav_leftEnd {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
	}
	.nav_rightEnd {
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
	}
	
	#navSpacer:hover {
		cursor: default;
	}
	nav #active {
		background-color: #478978;
		color: black;
	}
	nav #active:hover {
		cursor: default;
		box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0);
	}
	nav #active.middle {
		border-bottom-color: #478978;
	}
	
	#subnav {
		grid-row: 3;
		grid-column: 1 / span 3;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto;
		background-color: #478978;
		border-radius: 0px 0px 15px 15px;
	}
	#subNavContent {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-template-rows: 10px 50px;
	}
	#subnav a {
		grid-row: 2;
		padding: 10px;
		margin: 0px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		text-decoration: none;
		text-align: center;
		color: black;
		background-color: #acecdc;
		border-color: #478978;
		border-style: solid;
		border-width: 1px 1px 0px 1px;
	}
	#subnav a:hover {
		background-color: #e3e3e3;
		cursor: pointer;
	}
	#subNavContent #active {
		background-color: #ecf3f1;
	}

	#i_homeImage {
		margin-top: 10px;
		grid-column: 1 / span 3;
		grid-row: 4;
		width: 100%;
	}
	
	main {
		grid-column: 2;
		grid-row: 5;
	}
	main h1 {
		text-align: center;
	}

	footer {
		grid-column: 1 / span 3;
		grid-row: 6;
		height: 100px;
		background-color: #478978;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 5px 90px 5px;
		border-radius: 15px 15px 0px 0px;
	}
	#footerContent {
		grid-column: 2;
		grid-row: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 18px 18px 18px 18px 18px;
	}
	#footerContent a {
		text-decoration: none;
		color: black;
	}
	#footerContent a:hover {
		color: white;
	}
}

/* CSS grid layout small screens */
@media screen and (max-width:768px) {
	.container {
		min-height: 100%;
		display: grid;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: auto auto 1fr auto;
	}
	#mobNavPage {
		background-color: #478978;
	}
	
	nav, #subnav {
		display: none;
	}

	header {
		grid-column: 1 / span 3;
		grid-row: 1;
		height: 75px;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 75px;
		grid-template-rows: 75px;
		background-color: #478978;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom: 10px solid #84DCC6;
		color: #ecf3f1;
	}
	header a {
		font-size: 50px;
		color: #ecf3f1;
		text-decoration: none;
	}
	#a_title {
		padding-left: 10px;
	}
	#a_mobNav {
		display: block;
		grid-row: 1;
		grid-column: 2;
		text-align: center;
		margin: auto;
	}
	#headerMobNav {
		border-style: none;
	}

	#i_homeImage {
		margin-top: 5px;
		grid-column: 1 / span 3;
		grid-row: 2;
		width: 100%;
	}
	
	main {
		grid-column: 2;
		grid-row: 3;
		padding: 10px;
	}
	#mobNavMenu {
		margin: 0px;
		justify-content: center;
		display: grid;
		height: 100%;
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}
	#mobNavMenu a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #ecf3f1;
		font-size: 50px;
		text-align: center;
	}

	footer {
		grid-column: 1 / span 3;
		grid-row: 4;
		display: grid;
		grid-template-columns: 10px 1fr 10px;
		grid-template-rows: 1px 72px 2px;
		height: 75px;
		width: 100%;
		background-color: #478978;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-top: 10px solid #84DCC6;
		color: #ecf3f1;
	}
	#footerContent {
		grid-column: 2;
		grid-row: 2;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 18px 18px 18px 18px;
	}
	#footerContent a {
		text-decoration: none;
		color: #ecf3f1;
	}
	#footerMobNav {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-top: 0px none #ffffff;
	}
}