html, body {
	margin: 0px;
	background-color: #ecf3f1;
	height: 100%;
	width: 100%;
	font-family: "Amaranth", sans-serif;
	font-weight: 400;
	font-style: normal;
}

/* Both Large and Small screens */


/* CSS grid layout large screens */
@media screen and (min-width:769px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto auto 1fr auto;
	}
	
	#a_mobNav {
		display: none;
	}
	main, footer {
		padding: 10px;
	}
	
	header {
		grid-column: 1 / span 3;
		grid-row: 1;
		height: 50px;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 50px;
		background-color: #478978;
	}
	#headerContent {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: 50px;
	}
	
	header a {
		background-color: #ACD7EC;
		margin: 0px;
		font-size: 20px;
		border-radius: 15px;
		text-decoration: none;
		border-width: 1px 1px 1px 1px;
		border-color: #478978;
		border-style: solid solid solid solid;
	}
	header a:hover{
		cursor: pointer;
	}
	#a_title {
		grid-column: 1 / span 3;
		padding: 5px;
		font-size: 30px;
		color: #ecf3f1;
		background-color: #478978;
		border-style: none;
	}
	#a_profile, #a_lang {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#a_profile {
		grid-column: 15;
		text-align: center;
	}
	#a_lang {
		grid-column: 16;
		text-align: center;
	}

	nav {
		grid-column: 1 / span 3;
		grid-row: 2;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: auto;
		background-color: #478978;
	}
	#navContent {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 50px auto;
	}
	nav a {
		grid-row: 1;
		padding: 5px;
		margin: 0px;
		font-size: 20px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		color: black;
		background-color: #ACD7EC;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-width: 1px 1px 0px 1px;
		border-color: #478978;
		border-style: solid solid none solid;
	}
	nav a:hover{
		cursor: pointer;
	}
	nav .active {
		background-color: #84DCC6;
	}
	#navSpacer {
		grid-column: 3 / 8;
		cursor: default;
		border-style: none;
		background-color: #478978;
	}
	#subnav {
		grid-row: 2;
		grid-column: 1 / span 12;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: 10px 50px;
		background-color: #84DCC6;
	}
	#subnav a {
		grid-row: 2;
		padding: 10px;
		margin: 0px;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		text-decoration: none;
		border-color: #84DCC6;
	}
	#subnav .active {
		background-color: #ecf3f1;
	}

	main {
		grid-column: 2;
		grid-row: 3;
	}
	#i_homeImage {
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 300px;
	}

	footer {
		grid-column: 1 / span 3;
		grid-row: 4;
		height: 100px;
		background-color: #478978;
		display: grid;
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 100px;
	}
	#footerContent {
		grid-column: 2;
		grid-row: 1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 100px;
	}
}

/* CSS grid layout small screens */
@media screen and (max-width:768px) {
	.container {
		min-height: 100%;
		display: grid;
		grid-template-columns: 50px auto 50px;
		grid-template-rows: auto 1fr auto;
	}
	#mobNavPage {
		background-color: #478978;
	}
	
	nav, #subnav, #a_lang, #a_profile {
		display: none;
	}

	header {
		grid-column: 1 / span 3;
		grid-row: 1;
		height: 75px;
		width: 100%;
		background-color: #478978;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom: 10px solid #84DCC6;
		color: #ecf3f1;
	}
	#headerContent {
		display: grid;
		grid-template-columns: 1fr 75px;
		grid-template-rows: 75px;
	}
	header a {
		font-size: 50px;
		color: #ecf3f1;
		text-decoration: none;
	}
	#a_title {
		padding-left: 10px;
	}
	#a_mobNav {
		display: block;
		grid-row: 1;
		grid-column: 2;
		text-align: center;
		margin: auto;
	}
	#headerMobNav {
		border-style: none;
	}

	main {
		grid-column: 2;
		grid-row: 2;
		padding: 10px;
		height: 100%;
	}
	#i_homeImage {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	#mobNavMenu {
		margin: 0px;
		justify-content: center;
		display: grid;
		height: 100%;
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	}
	#mobNavMenu a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #ecf3f1;
		font-size: 50px;
		text-align: center;
	}

	footer {
		grid-column: 1 / span 3;
		grid-row: 3;
		height: 75px;
		width: 100%;
		background-color: #478978;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		border-top: 10px solid #84DCC6;
		color: #ecf3f1;
	}
}